diffusers>=0.30.0
transformers>=4.44.0
accelerate>=0.33.0
torch>=2.3.0
torchvision>=0.18.0
Pillow>=10.4.0
matplotlib>=3.9.0
numpy>=1.26.0
streamlit>=1.37.0
streamlit-drawable-canvas==0.8.0
pyngrok>=7.2.0
